/* WEB RESPONSIVENESS */
  @media only screen and (max-width: 1400px) {
  .text {max-width: 1000px;margin: 5rem 4rem;padding: 0 1rem;}
  }

  @media only screen and (max-width: 1200px) {
  .text {max-width: 1000px;margin: 5rem auto;padding: 0 3rem;display: block;}
  }

  @media only screen and (max-width: 1090px) {
  .text {max-width: 800px;text-align:left;}
  }

  @media only screen and (max-width: 1000px) {
    .text {max-width: 750px;text-align:left;}
  }

  @media only screen and (max-width: 800px) {
    .text {width:unset;text-align:center;}
  }