:root{
  /* --bs-white: #fff; */
  --bs-primary: #fff;
  --bs-secondary: #e1e1e1;/*same with gray : #dddd*/
  --bs-tertiary: #ff0000;
  
  --other-green:#28a745;
  }

body{font-family: "Poppins"; margin: 11vh 0;}
a{cursor:pointer; text-decoration:underline; color:var(--bs-tertiary); margin-right:4px;}
.container{width: 100%;display: block;margin: 0 auto;max-width: 1000px;position:relative;}
.hide{display:none;}

/* FORM */
body > table{ width:100%; display:block; margin:0 auto;}
table{border-collapse: collapse;}
input[type=text], input[type=number]{width:100%; padding: 12px 20px; margin:8px 0; display: inline-block; border: 1px solid #ccc;border-radius: 4px;}
td,th{border: 1px solid var(--bs-secondary); text-align: left; padding: 8px;}
tr:nth-child(even),table.list thead>tr{background-color:var(--bs-secondary);}

#formSheet{}
.formsheet {width: 30%;padding: 20px;}
label.validation-error{ color:var(--bs-tertiary); margin-left:5px;}
.formsheet form div.form-action-buttons input[type=submit]{background-color:transparent; color:var(--bs-primary); padding:0; margin:0; border:none; border-radius:none; cursor:pointer;}

#employeeSheet{overflow: hidden;position:relative;padding:0;}
#employeeList {position: absolute;top: 0;width: 100%;display: block;overflow-y: auto;height: 450px;}
form div.form-action-buttons{text-align:center;}
#employeeList th, #employeeList td {width: 25%;}
#employeeList thead tr {position: sticky;top: 0;}
#loadDataImg img{width: 100%;width: 100%;max-width: 30px;margin: 0 10px 20px;height: auto;min-height: 30px;}
.hint-alert {position: fixed;top: 10px;left: 50%;transform: translateX(-50%);background-color: var(--other-green);color: var(--bs-primary);padding: 10px 20px;border-radius: 5px;font-size: 16px;display: none; z-index: 1000;max-width: 400px;width: 90%;}
.hint-alert.show {display: block;}
.hint-alert.hide {display: none;}
#employeeList th > * {float: right;right: 1rem;}
