/* WEB RESPONSIVENESS */
@media only screen and (max-width: 1200px) {
  .align-items-center{max-width:800px;}
  #skills .container .row .col .card .card-body {min-height: 250px;}
  #skills .container .row .col .card .card-body button{position: absolute;display:block; bottom: 0; max-width: unset;left:0}
}
@media only screen and (max-width: 1100px) {
  .feature-projects{display: block;margin: 0 auto;}
  .feature-projects .shadow-sm{min-height: 360px;}
}
@media only screen and (max-width: 1090px) {
    
    .card-body button {position: absolute;display:block; bottom: 0; max-width: unset;left:0}
    .btn-group {position: unset;display: flex;flex-wrap: wrap;justify-content: space-evenly;width: 100%;gap: .25rem;}
    .feature-projects .shadow-sm {min-height: unset;}
  }
  
  @media only screen and (max-width: 1000px) {
    /* .card-body button {bottom: 0;left: 0;max-width: unset;} */
    .carousel-control-next, .carousel-control-prev {width: 10%;height: 20%;}
    .tags-container{display:none;}
  }
  
  @media only screen and (max-width: 992px) {
    .row.align-items-center.g-5.pt-5 {text-align: center;}
  }
  
  @media only screen and (max-width: 800px) {
    #footer h3 {text-align:center;}
  }
  
  @media only screen and (max-width: 768px) {
    #skills .container .row .col .card .card-body {min-height: 200px;}
  }
  
  @media only screen and (max-width: 576px) {
    #footer h3 {text-align:left;}
  }
  @media only screen and (max-width: 400px) {
    #login .cover{background: none;}
    #login form{padding:35vh 5vw;background-color: rgba(50, 50, 50,.2);}
  }