/* WEB RESPONSIVENESS */
@media only screen and (max-width: 600px) {
  .item p {font-size: 1rem; white-space: nowrap;}
  .references figure {right:0;}
}
@media only screen and (max-width: 400px) {
  .references figure {margin: auto 0;}
}
