@media only screen and (max-width: 1000px) {
  .card {
    max-width: 600px;
  }
  .bottom {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    min-height: 225px;
  }
  .name {
    font-size: 1em !important;
  }
}

@media only screen and (max-width: 500px) {
  .card {
    min-height: 485px;
    overflow: hidden;
  }

  .card img {
    margin: auto !important;
    position: static !important;
    width: 100%;
    max-width: 345px !important;
    height: auto;
    max-height: 305px !important;
    display: block;
    border-radius: 0;
    padding: 0 15px;
    border: solid 0px transparent;
  }
  .name {
    font-size: 1.5em !important;
  }
  .bottom {
    position: absolute;
    bottom: 30px !important;
  }
  .top p {
    right: 20vw !important;
    top: 20vh !important;
  }
  .circle-img {
    height: auto !important;
  }
  .info {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 400px) {
  .card img {
    max-height: 140px !important;
    max-width: 281px !important;
  }
}
